@model IEnumerable<IdentityClaims.Models.Lookup>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lookups</h2>

<p>
    <a asp-action="Create">Create New Lookup</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.LookupCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LookupDesc)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ActiveFlag)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LookupCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LookupDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActiveFlag)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LookupID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LookupID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LookupID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
